.container2{
      display:grid;
      width: 100 vw;
      height: 100 vh;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr   ;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr  ;
      grid-gap: 1rem;
      grid-template-areas: 

      ". . . . . . "
      ". . . . . . "
      ". . . . . . "
      ". . . . . . "
      ". . . . . . "
      ". . . . . . "  ;
}
