.container{
      
      display:grid;
      grid-template-columns: .9fr 1.25fr 0.8fr .9fr   ;
      grid-template-rows:  1fr 1fr 1fr 0.7fr 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 45px;
      grid-template-areas: 

      
      "sidebar-blank1 header header sidebar-blank2  "
      "sidebar-blank1 sub-header sub-header sidebar-blank2 "
      "sidebar-blank1 sub-header sub-header sidebar-blank2 "
      "sidebar-blank1 sub-header sub-header sidebar-blank2  "
      "content1 content1 content1 content1  "
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
       ;
}

.container2{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr   ;
      grid-template-rows:  20% 85%;
      grid-gap: 1;
      grid-template-areas: 

      "footerheader footerheader footerheader footerheader"
      "footer4 footer2 footer3 footer5 "

}

.blogpostcontainer{
      display:grid;
      grid-template-columns: .9fr 1.25fr 0.8fr .9fr   ;
      grid-template-rows:  0.5fr 1fr 1fr 1fr;
      grid-gap: 30px;
      grid-template-areas: 

      "sidebar-blank1 header header sidebar-blank2  "
      "sidebar-blank1 sub-header sub-header sidebar-blank2 "
      "sidebar-blank1 sub-header sub-header sidebar-blank2 "
      "sidebar-blank1 sub-header sub-header sidebar-blank2 "
}

.continuereadingcontainer{
      display:grid;
      grid-template-columns: .9fr 1.25fr 0.8fr .9fr   ;
      grid-template-rows:  0.3fr 1fr 1fr 1.2fr 1fr 3fr;
      grid-gap: 30px;
      grid-template-areas:

      "sidebar-blank1 header header sidebar-blank2"
      "sidebar-blank1 blog note sidebar-blank2"
      "sidebar-blank1 blog note sidebar-blank2"
      "sidebar-blank1 blog note sidebar-blank2"
      "sidebar-blank1 blog note sidebar-blank2"
      "sidebar-blank1 blog note sidebar-blank2"
}

.learnmorecontainer{
      display:grid;
      grid-template-columns: .9fr 0.8fr 1.25fr .9fr   ;
      grid-template-rows:  0.5fr 1fr 1fr 1.2fr 2fr 2fr;
      grid-gap: 20px;
      grid-template-areas:

      "sidebar-blank1 header header sidebar-blank2"
      "sidebar-blank1 note blog sidebar-blank2"
      "sidebar-blank1 note blog sidebar-blank2"
      "sidebar-blank1 note blog sidebar-blank2"
      "sidebar-blank1 note blog sidebar-blank2"
      "sidebar-blank1 note blog sidebar-blank2"
      "sidebar-blank1 note blog sidebar-blank2"

}



.footerheader {
      grid-area: footerheader;
      background-color: #d3d3d3;
}

.footer3{
      grid-area : footer3;
      background-color: #d3d3d3;
      padding: 10px;
}

.footer4 {
      grid-area: footer4;
      background-color: #d3d3d3;
}

.footer5{
      grid-area: footer5;
      background-color: #d3d3d3;

}

body{
      margin:0
}

.sidebar-blank1{
 grid-area : sidebar-blank1;
}

.header{
grid-area: header;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
height: 150px;
border-bottom: double;
border-color:#d3d3d3
}

.sub-header{
      
grid-area: sub-header;
display: flex;
flex-direction: column;

}

.sidebar-blank2{
grid-area: sidebar-blank2;
}

.content1{
grid-area: content1;
display: flex;
justify-content: center;
font-family: "Aladin", cursive;
font-size: 35px;
color: #d3d3d3;
background: rgb(212,184,184);
background: linear-gradient(90deg, rgba(212,184,184,1) 0%, rgba(119,49,49,1) 100%);
}

h2{
      color: #b65858;
      margin:5px;
      font-family: 'Aladin', cursive;
      font-size: 80px;
}

#blues{
      margin: 0;
      color: #2e6e56;
      font-family: 'BenchNine', sans-serif;
      font-size: 30px;
}
h3{
      color: #b65858;
}

h4{
      color: #b65858;
}

#s1{
      height: 150px;
      width: 150px;
       /* border: 1px solid; */
      border-color:#d3d3d3
}

#s2{
      height: 150px;
      width: 150px;
        /* border: 1px solid; */
      border-color:#d3d3d3
}

#s3{
      height: 150px;
      width: 150px;
     /* border: 1px solid; */
      border-color:#d3d3d3
}

#skeletons{

      display: flex;
      justify-content: space;
      justify-content: space-between;
}

#stext{
      margin: 40px;
      display: flex;
      justify-content: space;
      justify-content: space-between;
     
}

#test {
      display: flex;
      flex-wrap: wrap-reverse;
}

#learn-more{
    color: #d3d3d3;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid;
    padding: 20px;
    background-color: rgba(182,88,88,1); 
}

#learn-more:hover {
      background-color: white;
      color: black;
  }
  
.footer{
      grid-area :footer;
      background-color: #d3d3d3;

}

.footer2{
      grid-area :footer2;
      background-color: #d3d3d3;
      padding: 5px;

}

.sidebar-blank3{
       grid-area: sidebar-blank3;
}

.blog{
      grid-area:blog;
  
}

#jerrybobby{
      height: 325px;
      width: 575px;
      
}

.note{
      grid-area:note;
      width: 300px;
      
}

.sidebar-blank4{
      grid-area: sidebar-blank4;
}

#continue-reading{
      color: #d3d3d3;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      border: 1px solid;
      padding: 15px;
      background-color: rgba(182,88,88,1); 
  }
  
#continue-reading:hover {
      background-color: white;
      color: black;
  }

#thedead{
      height: 325px;
      width: 575px;     
}

#foot{
      color: #737c78;
      margin:0;

}

#first{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#last{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#first:focus {
      background-color: #d3d3d3 ;
      
    }

#last:focus {
      background-color: #d3d3d3 ;
      
    }


#firstsecond {
      display: flex;
      justify-content: space-between;
}

#datebox{
      color: #d3d3d3;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      padding: 8px;
      width: 20px;
      background-color: #737c78; 
  }

  #blog-post{
      color: #2e6e56;
      text-align: center;
      text-decoration: none;
      font-size: 15px; 
  }
  
  #blog-post:hover {
         color:rgba(182,88,88,1); 
  }

  #hadead{
      float: left; 
      height: 125px;
      width: 125px; 
      position: relative;
      float: left; 
      padding: 0 13px 5px 0
  }

  #large{
      height: 125px;
      width: 125px;  
      float: left;  
      padding: 0 13px 5px 0
      
  }

  #blog-zone{ 
      color: rgba(182,88,88,1); 
      text-align: center;
      text-decoration: none;
      font-size: 10px; 
  }

  #jumbo{
      padding: 0;
      display: block;
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
  }
 
  #yellow{
        color: #e1ad01 
  }

  #blue{
        color: #56C8C3;
  }

  #page{
        width: 12px;
        height: 12px
  }

  #bolt{
      width: 15px;
      height: 15px
}