

.container{
      display:grid;
      grid-template-columns: 1fr 1.25fr 0.6fr 1fr   ;
      grid-template-rows:  1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr 3fr;
      grid-gap: 20px;
      grid-template-areas: 

      
      "sidebar-blank1 header header sidebar-blank2  "
      "sidebar-blank1 sub-header sub-header sidebar-blank2 "
      "sidebar-blank1 sub-header sub-header sidebar-blank2 "
      "sidebar-blank1 sub-header sub-header sidebar-blank2  "
      "content1 content1 content1 content1  "
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      "sidebar-blank3 blog note sidebar-blank4"
      
      "footer footer footer footer  "  ;
}

.sidebar-blank1{
 grid-area : sidebar-blank1;
}

.header{
grid-area: header;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
height: 150px;
border-bottom: double;
border-color:#d3d3d3
}

.sub-header{
      
grid-area: sub-header;
display: flex;
flex-direction: column;

}

.sidebar-blank2{
grid-area: sidebar-blank2;
}

.content1{
grid-area: content1;
display: flex;
justify-content: center;
color: #d3d3d3;
background: rgb(212,184,184);
background: linear-gradient(90deg, rgba(212,184,184,1) 0%, rgba(119,49,49,1) 100%);

}

h2{
      color: #b65858;
      margin:5px;
}

#blues{
      margin: 0;
      color: #2e6e56;
}
h3{
      color: #b65858;
    
}

#s1{
      height: 150px;
      width: 150px;
       /* border: 1px solid; */
      border-color:#d3d3d3
}

#s2{
      height: 150px;
      width: 150px;
        /* border: 1px solid; */
      border-color:#d3d3d3
}

#s3{
      height: 150px;
      width: 150px;
     /* border: 1px solid; */
      border-color:#d3d3d3
}

#skeletons{

      display: flex;
      justify-content: space;
      justify-content: space-between;
     
     
}

#stext{
      margin: 40px;
      display: flex;
      justify-content: space;
      justify-content: space-between;
     
}

#test {
      display: flex;
      flex-wrap: wrap-reverse;
}

#learn-more{
    color: #d3d3d3;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid;
    padding: 20px;
    background-color: rgba(182,88,88,1); 
}

#learn-more:hover {
      background-color: white;
      color: black;
  }
  
.footer{
      grid-area :footer;
      background-color: #d3d3d3;

}

.sidebar-blank3{
       grid-area: sidebar-blank3;
}

.blog{
      grid-area:blog;
  
}

#jerrybobby{
      height: 325px;
      width: 575px;
      
}

.note{
      grid-area:note;
            width: 200px;
      
}

.sidebar-blank4{
      grid-area: sidebar-blank4;
}

#continue-reading{
      color: #d3d3d3;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      border: 1px solid;
      padding: 15px;
      background-color: rgba(182,88,88,1); 
  }
  
  #continue-reading:hover {
      background-color: white;
      color: black;
  }

  #thedead{
      height: 325px;
      width: 575px;     
}

#foot{
      color: #737c78
}

#message{
      height:100px;
      width: 333px
}